[Unit]
Description=Nonmatch Celery Worker
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ backend_path }}/worker.sh
WorkingDirectory={{ backend_path }}
User={{ username }}

[Install]
WantedBy=multi-user.target