compilers=&cat

group.cat.compilers=cat
group.cat.groupName=DIFF
group.cat.isSemVer=true
group.cat.versionFlag=--version
group.cat.exe={{ agbpycc_path }}/main.sh

compiler.cat.name=cat
supportsBinary=false
